{% extends "base.html" %}
{% load static %}

{% block extracss %}
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="bag" class="min-height">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>bag</h1>
            </div>
        </div>
    </div>
</section>
                
{% endblock %}
