{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}" />
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="bag" class="min-height">
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="my-2 text-center text-sm-left">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col" class="cell-width-50">Product Info</th>
                                <th scope="col" class="d-none d-md-table-cell"></th>
                                <th scope="col" class="d-none d-sm-table-cell text-center">Price</th>
                                <th scope="col" class="text-center cell-width-50">Qty</th>
                                <th scope="col" class="d-none d-sm-table-cell text-center">Subtotal</th>
                            </tr>
                        </thead>
    
                        {% for product in bag_items %}
                        <tr>
                            <td class="w-25 d-none d-md-table-cell">
                                <img class="img-fluid rounded" src="{{ product.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0 d-inline"><strong>{{ product.product.name }}</strong></p><br>
                                <p class="my-0 small text-muted d-inline">SKU: <strong>{{ product.product.sku|upper }}</strong></p><br>
                                <p class="my-0 d-sm-none small text-muted d-inline">PRICE: <strong>£{{ product.product.price }}</strong></p><br>
                                <p class="my-0 d-sm-none small text-muted d-inline">SUBTOTAL: <strong>£{{ product.product.price | calc_subtotal:product.quantity }}</strong></p>
                            </td>
                            <td class="py-3 text-center d-none d-sm-table-cell">
                                <p class="my-0">£{{ product.product.price }}</p>
                            </td>
                            <td class="py-3 text-center w-25">
                                <div class="pl-0 pl-lg-5 pr-0 pr-lg-5">
                                    <form class="form update-form" method="POST"
                                        action="{% url 'adjust_bag' product.product.id %}">
                                        {% csrf_token %}
                                        {% if product.product.product_stock.available_stock > 0 %}
                                        <div class="form-group mb-2">
                                            <div class="input-group {% if product.quantity > product.product.product_stock.available_stock %}border border-danger"{% else %}"{% endif %}>
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-black btn-sm text-custom-pink rounded-0"
                                                        data-product_id="{{ product.product.id }}" id="decrement-qty_{{ product.product.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ product.quantity }}"
                                                    min="1" max="{{ product.product.product_stock.available_stock }}" data-product_id="{{ product.product.id }}" id="id_qty_{{ product.product.id }}"
                                                    title="Error!" data-content="Max Quantity: {{ product.product.product_stock.available_stock }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-black btn-sm text-custom-pink rounded-0"
                                                        data-product_id="{{ product.product.id }}" id="increment-qty_{{ product.product.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input type="hidden" id="id_max_qty_{{ product.product.id }}" value="{{ product.product.product_stock.available_stock }}">
                                            </div>
                                            {% if product.quantity > product.product.product_stock.available_stock %}
                                                <p class="text-danger"><small>Quantity available: {{ product.product.product_stock.available_stock }}</small></p>
                                            {% endif %}
                                        </div>
                                    </form>
                                    <a class="update-link text-info float-left"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right"
                                        id="remove_{{ product.product.id }}"><small>Remove</small></a>
                                    {% else %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <p class="text-danger mb-0 text-center w-100">Out of stock.</p>
                                            </div>
                                        </div>
                                        <a class="remove-item text-danger"
                                        id="remove_{{ product.product.id }}"><small>Remove</small></a>
                                    </form>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="py-3 text-center d-none d-sm-table-cell">
                                <p class="my-0">£{{ product.product.price | calc_subtotal:product.quantity }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6 class="mb-1"><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                {% if discount_set %}
                                    <h6 class="mb-0">Discount Code: {{ discount_code.code }}</h6>
                                    <h6 data-toggle="modal" data-target="#discountModal" class="d-block mb-1 custom-text-hover"><strong>Change Discount Code</strong></h6>
                                {% else %}
                                    <h6 data-toggle="modal" data-target="#discountModal" class="d-block mb-1 custom-text-hover"><strong>Add A Discount Code</strong></h6>
                                {% endif %}
                                {% if delivery_set %}
                                    <h6 class="mb-0">Delivery: £{{ delivery_option.price|floatformat:2 }}</h6>
                                    <h6 data-toggle="modal" data-target="#deliveryModal" class="d-block mb-1 custom-text-hover"><strong>Change Delivery Option</strong></h6>
                                {% else %}
                                    <h6 data-toggle="modal" data-target="#deliveryModal" class="d-block mb-1 custom-text-hover"><strong>Select Delivery Option</strong></h6>
                                {% endif %}
                                <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'all_products' %}"
                                    class="btn btn-custom-pink border-custom-dark-pink-2 btn-filter rounded-0 btn-lg btn-text-sm mt-2 mt-sm-0">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                {% if delivery_set and product_stock and discount_set %}
                                    {% if discount_valid %}
                                        <a href="{% url 'checkout' %}" class="btn btn-grad btn-green-grad border-black-2 text-white rounded-0 btn-lg btn-text-sm mt-2 mt-sm-0">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    {% else %}
                                        <a href="" role="button" class="btn btn-black border-black-2 text-muted rounded-0 btn-lg btn-text-sm mt-2 mt-sm-0 disabled">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <div class="d-inline" data-toggle="tooltip" data-placement="top" title="Please select a delivery option.">
                                        <a href="" role="button" class="btn btn-black border-black-2 text-muted rounded-0 btn-lg btn-text-sm mt-2 mt-sm-0 disabled">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'all_products' %}"
                    class="btn rounded-0 bg-custom-pink border-custom-dark-pink-2 btn-keep-shopping">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
<!-- Delivery Modal -->
<div class="modal fade" id="deliveryModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="deliveryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryModalLabel">Delivery Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A lot of the products are made to order; as such the delivery time is from when the product is avaliable.</p>
                <table class="table table-borderless mb-0">
                    <tbody>
                        {% for option in delivery %}
                        <tr>
                            <td>
                                <input type="radio" id="{{ option.id }}" name="delivery-option"
                                    value="{{ option.price }}" {% if delivery_option.sku == option.sku %}checked{% endif %}>
                            </td>
                            <td>
                                <h6 class="font-weight-bold">{{ option.option }} - £{{ option.price }}</h6>
                                <p class="mb-0">{{ option.description }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form id="delivery-form" action="{% url 'add_delivery' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id-selected" id="id-selected">
                    <input class="btn btn-success delivery-submit" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Discount Modal -->
<div class="modal fade" id="discountModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="discountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountModalLabel">Add A Discount Code:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if discount_set %}
                <h6 class="font-weight-bold">Current Discount:</h6>
                <p class="mb-2 font-italic">'{{ discount_code.code }}'</p>
                <a class="btn btn-danger mb-3" href="{% url 'remove_discount' %}">Remove</a>
                <hr class="border border-dark m-0 mb-2">
                {% endif %}
                <p><small>Note: By entering the discount code here does not guarantee use. To ensure you are able to use the discount code, please proceed and complete the checkout process. You can only use one code at a time</small></p>
                <form id="discount-form" action="{% url 'add_discount' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="d-block w-100 custom-focus-shadow" id="discount-code" name="discount-code">
                    <input class="btn btn-success mt-3" type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
</div>
</section>         
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'bag/js/bag.js' %}"></script>
{% endblock %}