{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock %}

{% block content %}
<section id="landing-section">
    <div class="bg">
        <div class="container h-100">
            <div class="row h-90-vh">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 my-auto">
                    <div class="card bg-card-glass box-shadow border-15 border-0">
                        <div class="card-body text-white">
                            <h1 class="card-title text-uppercase text-shadow header-text">Welcome</h1>
                            <p class="card-text text-black paragraph-text">Take a look at any of our wax melts and
                                you’ll be sure to find one to match any mood.</p>
                            <a href="" class="btn btn-custom-pink btn-shop-now font-weight-bold"> Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="product-card">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white">
                <div class="row position-relative" style="z-index: 10;">
                    <div class="col-8 col-sm-6 col-md-7 col-lg-6 col-xl-6 offset-2 offset-sm-3 offset-md-5 offset-lg-0 order-lg-2">
                        <div class="card product-card border-0 border-15 box-shadow card-translate">
                            <div class="card-body px-3 d-flex justify-content-around my-auto">
                                <div class="row mx-0">
                                    <div class="col-12 col-md-6 col-xl-4 px-2 my-auto mx-auto">
                                        <a class=" text-center text-decoration-none" href="">
                                            <img class="product-image rounded img-fluid" src="{% static 'home/images/product.png' %}" alt="Men">
                                        </a>
                                    </div>
                                    <div class="d-none d-md-inline col-md-6 col-xl-4 px-2 my-auto mx-auto">
                                        <a class=" text-center text-decoration-none" href="">
                                            <img class="product-image rounded img-fluid" src="{% static 'home/images/product.png' %}" alt="Men">
                                        </a>
                                    </div>
                                    <div class="d-none d-xl-inline col-xl-4 px-2 my-auto">
                                        <a class=" text-center text-decoration-none" href="">
                                            <img class="product-image rounded img-fluid" src="{% static 'home/images/product.png' %}" alt="Men">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 order-lg-1 mt-auto text-center text-md-left">
                        <h1 class="mt-3 card-title text-uppercase text-black header-text mb-0">About Us</h1>
                    </div>
                    <div class="col-12 order-lg-3">
                        <div class="row">
                            <div class="col-12 col-md-7 text-black text-center text-md-left py-3 py-lg-5">
                                <p class="card-text paragraph-text">Our luxury wax melts are made with 100% soy wax coloured with mica powder rather than harmful dyes. The glitter and wax melt packaging is biodegradable. All our products are eco friendly, vegan and cruelty free.
                                </p>
                                <p class="card-text paragraph-text">
                                    We are Fully CLP compliant.
                                </p>
                                <p class="card-text paragraph-text">
                                    All hand poured with a long lasting burn time from each burn to the next.
                                </p>
                                <div class="d-none d-lg-inline">
                                    {% include 'home/includes/landing-reviews.html' %}
                                </div>
                            </div>
                            <div class="col-12 col-md-5 py-3 py-lg-5 my-auto text-center">
                                <img class="img-fluid rounded box-shadow pouring-image" src="{% static 'home/images/pouring.png' %}" alt="">
                            </div>
                            <div class="col-12 d-inline d-lg-none text-black text-center text-md-left pb-3">
                                {% include 'home/includes/landing-reviews.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
