{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock %}

{% block content %}
<section id="landing-section">
    <div class="bg">
        <div class="container h-100">
            <div class="row h-90-vh">
                <div class="col-5 my-auto">
                    <div class="card bg-card-glass box-shadow border-15 border-0">
                        <div class="card-body text-white">
                            <h1 class="card-title text-uppercase text-shadow header-text">Welcome</h1>
                            <p class="card-text text-black paragraph-text">Take a look at any of our wax melts and
                                you’ll be sure to find one to match any mood.</p>
                            <a href="" class="btn btn-custom-pink btn-shop-now font-weight-bold"> Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="product-card">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white">
                <div class="row position-relative mt-n-6" style="z-index: 10;">
                    <div class="col-xl-5 offset-xl-7 col-lg-9">
                        <div class="card product-card border-0 border-15 box-shadow">
                            <div class="card-body px-3 d-flex justify-content-around my-auto">
                                <div class="row mx-0">
                                    <div class="col-4 px-2 my-auto">
                                        <a class="d-block text-center text-decoration-none" href="shop-grid-ls.html">
                                            <img class="d-block rounded img-fluid" src="{% static 'home/images/ellie-background.png' %}" alt="Men">
                                        </a>
                                    </div>
                                    <div class="col-4 px-2 my-auto">
                                        <a class="d-block text-center text-decoration-none" href="shop-grid-ls.html">
                                            <img class="d-block rounded img-fluid" src="{% static 'home/images/ellie-background.png' %}" alt="Men">
                                        </a>
                                    </div>
                                    <div class="col-4 px-2 my-auto">
                                        <a class="d-block text-center text-decoration-none" href="shop-grid-ls.html">
                                            <img class="d-block rounded img-fluid" src="{% static 'home/images/ellie-background.png' %}" alt="Men">
                                        </a>
                                    </div>
                                </div>
                                <!-- <img class="rounded img-product-card my-auto" src="{% static 'home/images/ellie-background.png' %}" alt="">
                                <img class="rounded img-fluid my-auto" src="{% static 'home/images/grey.png' %}" alt="" style="max-height: 150px;">
                                <img class="rounded img-fluid my-auto" src="{% static 'home/images/grey.png' %}" alt="" style="max-height: 150px;"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="card-title text-uppercase header-text">About Us</h1>
                <div class="row">
                    <div class="col-8 text-black">
                        <p class="card-text paragraph-text">Our luxury wax melts are made with 100% soy wax coloured with mica powder rather than harmful dyes. The glitter and wax melt packaging is biodegradable. All our products are eco friendly, vegan and cruelty free.
                        </p>
                        <p class="card-text paragraph-text">
                            We are Fully CLP compliant.
                        </p>
                        <p class="card-text paragraph-text">
                            All hand poured with a long lasting burn time from each burn to the next.
                        </p>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
