{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock %}

{% block content %}
<div class="bg">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-4 my-auto">
                <div class="card bg-card-glass box-shadow border-15 border-0">
                    <div class="card-body text-white">
                      <h1 class="card-title text-uppercase text-shadow">Welcome</h1>
                      <p class="card-text text-black font-weight-bold">Take a look at any of our wax melts and you’ll be sure to find one to match any mood.</p>
                      <a href="" class="btn btn-custom-pink btn-shop-now font-weight-bold"> Shop Now</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
