/* || Fonts */

@font-face {
  font-family: "starlightsitalic";
  src: url("../fonts/starlights_italic-webfont.woff2") format("woff2"),
    url("../fonts/starlights_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* || General */
html,
body {
  background-color: #fff;
  font-family: "Libre Baskerville", serif;
  height: 100%;
  margin: 0;
}

/* || Typography */

.logo-font {
  font-family: "starlightsitalic";
}

.header-text {
  font-family: Baskerville;
  font-weight: bold;
  font-size: 40px;
}

.paragraph-text {
  font-weight: bold;
  font-size: 15px;
}

/* || Text Colours */

.text-black {
  color: #000;
}

.text-custom-pink {
  color: #ffeded;
}

.text-custom-pink.nav-link:hover,
.text-custom-pink.nav-link:focus {
  color: #bda1a1;
}

/* || Shadows */

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* || Placeholder Colours */

.placeholder-text-grey::placeholder {
  color: #8a8888;
  opacity: 1;
}

/* || Input Focus Colours */

.form-focus-pink:focus {
  border-color: #bda1a1;
  background: #ffeded;
  outline: 0;
  box-shadow: none;
}

.form-focus-within-pink:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(255, 237, 237, 0.25);
}

.bg-custom-dark-pink:focus {
  background: #bda1a1;
  border-color: transparent;
  box-shadow: 0 0 0;
}

/* || Nav Hover Colours */

.bg-custom-dark-pink .dropdown-item:hover {
  background: transparent;
  font-style: italic;
}

/* || Icon Hover */

.rotate {
  transition: all 0.2s ease-in-out;
}

.outer-hover:hover .rotate,
.outer-hover:focus .rotate {
  transform: rotate(90deg);
}

/* || Buttons */

.btn-shop-now {
  min-width: 120px;
}

/* || Button Colours */

.btn-custom-pink {
  background: #FFEDED;
  border: 5px solid #BDA1A1;
  box-sizing: border-box;
}

/* || Background Colours */

.bg-glass {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
}

.bg-card-glass {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}

.bg-custom-dark-pink {
  background: #bda1a1;
}

.bg-custom-pink-opaque {
  background: rgba(255, 237, 237, .6);
}

.bg-custom-pink {
  background: #ffeded;
}

/* || Border Colours */

.border-custom-dark-pink {
  border: 4px solid #bda1a1;
}

/* || Border Radius */

.border-15 {
  border-radius: 15px;
}

/* || Extending Bootstrap */

.h-90-vh {
  height: 90vh !important;
}

/* || Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-text {
    font-size: 60px;
  }
  
  .paragraph-text {
    font-size: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
