/* || Fonts */

@font-face {
    font-family: 'starlightsitalic';
    src: url('../fonts/starlights_italic-webfont.woff2') format('woff2'),
         url('../fonts/starlights_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* || General */
html,
body {
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
}
