/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.product-image {
  max-width: 350px !important;
}

.menu-row {
  position: fixed;
  min-height: 40px;
  z-index: 2;

  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products-row {
  padding-top: 40px;
}

/* || Sidebar */

.sidebar {
  padding-top: 40px;
  margin-left: -100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  min-height: 588px;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bg-custom-white {
    z-index: 1;
    background: #ffffff;
}

.filter-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 99999;
}

/* || Btn */

.btn-add {
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
          box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #77d42a), to(#5cb811));
  background: -o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border: 1px solid #000;
  display: inline-block;
  color: #000;
  padding: 6px 24px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}

.btn-add:hover,
.btn-add:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #5cb811), to(#77d42a));
  background: -o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #ffffff;
}

/* || Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sidebar {
    margin-left: 0px;
  }

  .bg-custom-white {
    background: transparent;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}