.menu-row {
  height: 40px;
  z-index: 2;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* || Sidebar */

.sidebar {
  position: fixed;
  top: 131px;
  bottom: 505px;
  left: 0;
  margin-left: -100%;
  transition: 0.5s;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bg-custom-white {
    z-index: 1;
    background: #ffffff;
}

/* || Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .sidebar {
        top: 131px;
        bottom: 353px;
        margin-left: 0px;
    }

    .bg-custom-white {
        background: transparent;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sidebar {
        top: 163px;
        bottom: 249px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sidebar {
    top: 163px;
    bottom: 233px;
  }
}
