{% extends "base.html" %}

{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'users/css/allauth.css' %}">
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="accounts" class="min-height bg-custom-grey">
    <div class="bg-light-grey">
        <div class="container landing-height">
            <div class="row h-100">
                <div class="col-12 col-sm-10 col-lg-8 offset-sm-1 offset-lg-2">
                    <div class="allauth-form-inner-content text-center pt-5 pb-5">
                        {% block inner_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
