{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block inner_content %}
<div class="card pt-3 pt-md-4 p-3">
  <h1 class="mb-2">{% trans "E-mail Addresses" %}</h1>
  <hr>
  <div class="card-inner p-2 p-md-4">
    <p>You cannot change the email address. Please contact support.</p>
    <a class="btn btn-home btn-black rounded-0 text-white border-custom-grey-2" href="{% url 'home' %}">Home</a>
  </div>
</div>

{% endblock %}

