{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
<div class="card pt-3 pt-md-4 p-3">
    <h1 class="mb-2">{% trans "Confirm E-mail Address" %}</h1>
    <hr>
    <div class="card-inner p-2 p-md-4">
        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <h1>{{ confirmation.email_address.user.get_full_name }}</h1>

        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm the email address: <a href="mailto:{{ email }}">{{ email }}</a>.{% endblocktrans %}</p>
        <div class="form-inner mx-auto">
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button type="submit" class="btn rounded-0 bg-custom-pink border-custom-dark-pink-2 btn-keep-shopping">{% trans 'Confirm' %}</button>
            </form>
        </div>
    </div>
</div>

{% else %}

{% url 'account_email' as email_url %}

        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
    </div>
</div>

{% endif %}

{% endblock %}
