<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item pl-3 d-block">
            <a class="font-weight-bold nav-link text-custom-pink no-hover text-shadow mr-xl-3" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        {% if product_page %}
        <li class="nav-item pl-3 d-block">
            <a class="font-weight-bold nav-link text-custom-pink no-hover text-shadow mr-xl-3" href="{% url 'all_products' %}">
                All Products
            </a>
        </li>
        {% else %}
        <li class="nav-item pl-3 dropdown">
            <a class="font-weight-bold nav-link text-custom-pink no-hover text-shadow mr-xl-3" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu bg-sub-transparent-pink lg-box-shadow border-0 my-0" aria-labelledby="all-products-link">
                <a href="{% url 'all_products' %}" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">All Products</a>
                <a href="{% url 'all_products' %}?sort=price&direction=asc" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">By Price</a>
                <a href="{% url 'all_products' %}?sort=name&direction=asc" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">A - Z</a>
                <a href="{% url 'all_products' %}?sort=name&direction=desc" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">Z - A</a>
            </div>
        </li>
        <li class="nav-item pl-3 dropdown">
            <a class="font-weight-bold nav-link text-custom-pink no-hover text-shadow mr-xl-3" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Types
            </a>
            <div class="dropdown-menu bg-sub-transparent-pink lg-box-shadow border-0 my-0" aria-labelledby="clothing-link">
                <a href="{% url 'all_products' %}?category=snap_bars" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">Snap Bars</a>
                <a href="{% url 'all_products' %}?category=hearts" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">Hearts</a>
            </div>
        </li>

        <li class="nav-item pl-3 dropdown">
            <a class="font-weight-bold nav-link text-custom-pink no-hover text-shadow mr-xl-3" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Scents
            </a>
            <div class="dropdown-menu bg-sub-transparent-pink lg-box-shadow border-0 my-0" aria-labelledby="homeware-link">
                <a href="{% url 'all_products' %}?category=normal_scents" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">Normal Scents</a>
                <a href="{% url 'all_products' %}?category=inspired_scents" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">Inspired Scents</a>
            </div>
        </li>

        <li class="nav-item pl-3 dropdown">
            <a class="font-weight-bold nav-link text-custom-pink no-hover text-shadow mr-xl-3" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu bg-sub-transparent-pink lg-box-shadow border-0 my-0" aria-labelledby="specials-link">
                <a href="{% url 'all_products' %}?category=lady_of_luxury" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">Lady of Luxury</a>
                <a href="{% url 'all_products' %}?category=waxidents" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">Waxidents</a>
                <a href="{% url 'all_products' %}?category=special_offers" class="dropdown-item pl-3 text-custom-pink no-hover nav-link">Special Offers</a>
            </div>
        </li>
        {% endif %}
    </ul>
</div>