<li class="list-inline-item">
    <a class="font-weight-bold text-custom-pink nav-link d-block d-lg-none {% if request.get_full_path == home_url %}hover-pink-shadow{% else %}dark-shadow hover-white-shadow{% endif %}" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu bg-custom-pink-opaque box-shadow border-0 w-100 rounded-0 my-0 p-3" aria-labelledby="mobile-search">
        <form method="GET" action="{% url 'all_products' %}">
            <div class="input-group w-100 form-focus-within-pink">
                <input
                    class="form-control border-right-0 border-custom-dark-pink-4 bg-custom-pink rounded-0 placeholder-text-grey form-focus-pink"
                    type="text" name="query" placeholder="Search our site" />
                <div class="input-group-append outer-hover">
                    <button class="form-control btn bg-custom-dark-pink border-custom-pink rounded-0 outer-hover"
                        type="submit">
                        <span class="icon">
                            <i class="fas fa-search text-white rotate"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown d-block d-lg-none">
    <a class="font-weight-bold text-custom-pink nav-link {% if request.get_full_path == home_url %}hover-pink-shadow{% else %}dark-shadow hover-white-shadow{% endif %}" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user-circle fa-2x"></i></div>
            <p class="my-0">Account</p>
        </div>
    </a>
    <div class="dropdown-menu bg-custom-dark-pink box-shadow border-0 my-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="" class="dropdown-item text-custom-pink">Product Management</a>
            {% endif %}
            <a href="" class="dropdown-item text-custom-pink">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item text-custom-pink">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item text-custom-pink">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item text-custom-pink">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item d-block d-lg-none">
    <a class="font-weight-bold {% if total %}text-custom-green permanent-white-shadow bag-hover{% else %}text-custom-pink{% endif %} nav-link {% if request.get_full_path == home_url %}hover-pink-shadow{% else %}dark-shadow hover-white-shadow{% endif %}" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-2x"></i></div>
            <p class="my-0">
                {% if total %}
                £{{ total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>