<span class="border-dark border-top w-100 d-block mb-3"></span>
<p class="card-text paragraph-text font-italic">
    Don't believe us, read what others had to say:
</p>
<p class="card-text paragraph-text font-italic font-weight-normal">
    "Honestly I have nothing bad to say, they are so strong and smell gorgeous." <span class="font-weight-bold">Giveaway Winner</span>
</p>
<p class="card-text paragraph-text font-italic font-weight-normal">
    "They all smell amazing and are such gorgeous colours!" <span class="font-weight-bold">Jaz</span>
</p>
<p class="card-text paragraph-text font-italic font-weight-normal">
    "Absolutely love my melts! They all smell incredible and I can't believe how long they last." <span class="font-weight-bold">Zara</span>
</p>
<p class="card-text paragraph-text font-italic font-weight-normal">
    "These wax melts smell and look great. Quick to answer my questions. Fab service!" <span class="font-weight-bold">Humaira</span>
</p>