.update-link,
.remove-item {
    cursor: pointer;
}

.border-black-2 {
    border: solid 2px black;
}

.custom-text-hover {
    color: #17a2b8;
   cursor: pointer;
}

.custom-text-hover:hover,
.custom-text-hover:focus {
             color: #0f6674;
   text-decoration: underline;
}


/* https://cssgradient.io/gradient-backgrounds/ */

.btn-grad {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}
.btn-grad {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }


/* || Media Queries */

/* Extra small devices (phones, 576 and down) */
@media only screen and (max-width: 576px) {
    .cell-width-50 {
        width: 50%;
    }

    .btn-text-sm {
        font-size: 1rem !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-group.custom-input {
        margin-left: 0px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}