{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="products" class="min-height">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</section>
{% endblock %}