{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="products" class="min-height">
    <div class="container-fluid">
        <div class="row">
            <div class="col menu-row">
            </div>
        </div>
        <div class="row">
            {% include 'products/includes/sidebar.html' %}
            <div class="col-md-9 ml-sm-auto col-lg-10 px-4 products-row">
                <!-- Products - The below was taken from the boutique ado example -->
                <div class="row pt-3">

                </div>
                <!-- Products End -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>
{% endblock %}