{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="products" class="min-height">
    <div class="container-fluid">
        <div class="row">
            <div class="col menu-row px-4 py-2 py-sm-1">
                <div class="row h-100">
                    <div class="col-12 col-sm-6 col-xl-4 order-1 my-auto">
                        <p class="text-muted m-0 text-center text-sm-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span><a class="text-custom-dark-pink" href="{% url 'all_products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-xl-4 order-4 order-xl-2 text-center my-auto">
                        {% for category in current_categories %}
                            <small><a class="" href="{% url 'all_products' %}?category={{ category.name }}">
                                <span class="p-2 text-muted rounded-0"><i class="fas fa-tag mr-1"></i>{{ category.friendly_name }}</span>
                            </a></small>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 order-3 ">
                        <div class="w-50 ml-auto mr-auto mr-sm-0">
                            <select id="sort-selector" class="custom-select custom-focus-shadow custom-select-sm rounded-0 border-{% if current_sorting != 'None_None' %}custom-dark-pink{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'products/includes/sidebar.html' %}
            <div id="all_products" class="col-md-9 ml-sm-auto col-lg-10 px-4 products-row mt-5 mt-sm-3 mt-xl-0 pt-5">
                <!-- Products - The below was taken from the boutique ado example -->
                <div class="row pt-3">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="{% url 'product_detail' product.slug %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                <div class="card-body pb-0 text-center">
                                    <p class="lead mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-center font-weight-bold">£{{ product.price }}</p>
                                            <div class="text-center">
                                                {% for category in product.category.all %}
                                                    <p class="small mt-1 mb-0 d-inline ml-2 mr-2">
                                                        <a class="text-muted" href="{% url 'all_products' %}?category={{ category.name }}">
                                                            <i class="fas fa-tag mr-1"></i>{{ category.friendly_name }}
                                                        </a>
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-3">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-3">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-3">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-3">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Products End -->
            </div>
        </div>
        <button id="sidenav-toggle" class="filter-button d-md-none btn btn-custom-pink border-custom-dark-pink-2 btn-filter">Filters</button>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>
{% endblock %}